In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import cv2
import urllib.request
import matplotlib.pyplot as plt

# 6) Download daytime images

In [2]:
df_rwanda = pd.read_csv('./data/rwanda')
df_rwanda.head()

,Unnamed: 0,cluster,latitude,longitude,wealth_index,mean_light,median_light,std_light,min_light,max_light
0,0,1,-2.532818,29.684726,-0.531405,0.06,0.0,0.596992,0.0,6.0
1,1,2,-1.833858,30.310689,-0.409830,0.00,0.0,0.000000,0.0,0.0
2,2,3,-1.888155,29.478298,-0.478115,0.00,0.0,0.000000,0.0,0.0
3,3,4,-2.366763,30.521692,-0.435960,0.00,0.0,0.000000,0.0,0.0
4,4,5,-2.171266,30.018541,-0.449480,0.00,0.0,0.000000,0.0,0.0

In [3]:
df_coord = df_rwanda[['cluster', 'latitude', 'longitude']]
df_coord.head()

   cluster  latitude  longitude
0        1 -2.532818  29.684726
1        2 -1.833858  30.310689
2        3 -1.888155  29.478298
3        4 -2.366763  30.521692
4        5 -2.171266  30.018541

In [4]:
coord = df_coord.as_matrix()
print(np.shape(coord))
print(coord[0])

(492, 3)
[ 1.       -2.532818 29.684726]

/home/ridouane/anaconda3/envs/Predict-poverty/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [5]:
api_key = "YOUR_API_KEY"

In [6]:
n = coord.shape[0]
print(n)

492

In [ ]:
for i in range(n):
    print('Step', i)
    
    clust, lat, long = coord[i][0], coord[i][1], coord[i][2]
    
    url = 'https://maps.googleapis.com/maps/api/staticmap?center='+str(lat)+','+str(long) + \
    '&zoom=16'+'&size=400x400'+'&maptype=satellite'+'&key='+str(api_key)
    print(url)
    
    filename = './data/daytime_images/rwanda/' + str(clust) + '.png'
    print(filename)
    
    urllib.request.urlretrieve(url, filename)
    
    im = cv2.imread(filename)
    plt.imshow(im[:, :, ::-1])
    plt.show()

# 7) Merge wealth, geographical, nightlights intensities and daytime images data